{% extends "base.html" %}
{% block content %}

<div class="tm-parallax tm-section" data-parallax="scroll"></div>                   
<section >
    <br><br>
    <h2 class="tm-text-primary">Church Gallery</h2>
    <hr class="mb-5">
    <ul class="tm-gallery-links">
        <!-- class="tm-section" -->
        <li>
            <a href="javascript:void(0);" class="active tm-gallery-link" data-filter="*">
                <i class="fas fa-layer-group tm-gallery-link-icon"></i>
                Matang
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="tm-gallery-link" data-filter="portrait">
                <i class="fas fa-portrait tm-gallery-link-icon"></i>
                Batu Kawa
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="tm-gallery-link" data-filter="nature">
                <i class="fas fa-leaf tm-gallery-link-icon"></i>
                Kuching 1
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="tm-gallery-link" data-filter="animal">
                <i class="fas fa-paw tm-gallery-link-icon"></i>
                Kuching 2
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="tm-gallery-link" data-filter="building">
                <i class="far fa-building tm-gallery-link-icon"></i>
                Samarahan
            </a>
        </li>
    </ul>

    <div class="tm-gallery">
        <figure class="effect-honey tm-gallery-item portrait">
            <img src="{{ url_for('static', filename='img/building/ldschurch.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/gallery/ldschurch.jpg') }}">View more</a>						
            </figcaption>			
        </figure>

        <figure class="effect-honey tm-gallery-item building">
            <img src="{{ url_for('static', filename='img/building/building-02.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/building/building-02.jpg') }}">View more</a>						
            </figcaption>			
        </figure>  

        <figure class="effect-honey tm-gallery-item nature">
            <img src="{{ url_for('static', filename='img/building/building_b.jpg') }}" alt=Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/building/building_b.jpg') }}">View more</a>						
            </figcaption>			
        </figure>
        
        <figure class="effect-honey tm-gallery-item animal">
            <img src="{{ url_for('static', filename='img/building/building_c.jpg') }}" alt="Image"/>   
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/building/building_c.jpg') }}">View more</a>						
            </figcaption>			
        </figure>

        <figure class="effect-honey tm-gallery-item building">
            <img src="{{ url_for('static', filename='img/branch/batu_kawa_members.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/branch/batu_kawa_members.jpg') }}">View more</a>						
            </figcaption>			
        </figure>

        <figure class="effect-honey tm-gallery-item nature">
            <img src="{{ url_for('static', filename='img/building/building-04.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/building/building-04.jpg') }}">View more</a>						
            </figcaption>			
        </figure> 

        <figure class="effect-honey tm-gallery-item portrait">
            <img src="{{ url_for('static', filename='img/ysa/ysa_a.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/ysa/ysa_a.jpg') }}">View more</a>						
            </figcaption>			
        </figure>

        <figure class="effect-honey tm-gallery-item animal">
            <img src="{{ url_for('static', filename='img/ysa/ysa_women.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/ysa/ysa_women.jpg') }}">View more</a>						
            </figcaption>			
        </figure> 

        <figure class="effect-honey tm-gallery-item building">
            <img src="{{ url_for('static', filename='img/building/building-09.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/building/building-09.jpg') }}">View more</a>						
            </figcaption>			
        </figure>

        <figure class="effect-honey tm-gallery-item portrait">
            <img src="{{ url_for('static', filename='img/ysa/wilson.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/ysa/wilson.jpg') }}">View more</a>						
            </figcaption>			
        </figure>

        <figure class="effect-honey tm-gallery-item animal">
            <img src="{{ url_for('static', filename='img/building/building-05.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/building/building-05.jpg') }}">View more</a>						
            </figcaption>			
        </figure>  
        <figure class="effect-honey tm-gallery-item animal">
            <img src="{{ url_for('static', filename='img/building/building-03.jpg') }}" alt="Image"/>
            <figcaption>
                <h2><i>Dreamy Honey</i></h2>
                <a href="{{ url_for('static', filename='img/building/building-03.jpg') }}">View more</a>	
            </figcaption>	
        </figure>
    </div>

    <div class="text-right">
        <a href="{{ url_for('about') }}" class="btn btn-primary tm-btn-next">Next Page</a>
    </div>

</section>
{% endblock %}
