{% extends "base.html" %}
{% block content %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Hotline - FAQ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
    </head>

    <body style="background-color: #edf2f9;">
        <div class="p-3">
            <div class="container">           
                <div class="cover">
                  <h1 style="font-size: 400%;">Welcome to Hotline FAQ</h1>
                  <h1 style="font-size: 150%; font-weight: 700; text-decoration: overline;">Begin Your Search Here</h1>
                  <form  class="flex-form" method="post">
                    <label for="from"><i class="ion-location"></i></label>
                    <input type="search" placeholder="Type keywords to find answers ?" name="keyword">
                    <input type="submit" value="Search">
                  </form>
                  <div id="madeby">
                    <span>
                      <!-- Photo by <a href="https://unsplash.com/@benblenner" target="_blank">Ben Blennerhassett</a> -->
                    </span>
                  </div>
                </div> 
              </div>
        </div>
    </body>
{% endblock %}
