<!DOCTYPE html>
<html>
  <head>
    <title>Center Icon Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <style>
      /* Style for the parent element */
      .icon-container {
        text-align: center;
      }
      /* Style for the icon */
      .icon-container i {
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <div class="icon-container">
      <i class="fas fa-check-circle"></i>
    </div>
  </body>
</html>