{% extends "base.html" %}
{% block content %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="../static/entrytest_css/style.css"> -->
        <!-- <link rel="stylesheet" href="../static/entrytest_css/owl.carousel.min.css"> -->
        <link rel="stylesheet" href="../static/entrytest_css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="../static/entrytest_css/style_a.css"> -->

        <style>
            body {
                /* background: #74ebd5; */
                /* background: -webkit-linear-gradient(to bottom, #74ebd5, #acb6e5); */
                /* background: linear-gradient(to bottom, #74ebd5, #acb6e5); */
                font-size: 16px;
                line-height: 1.2;
                color: #888;
                }

            .pagewrap {max-width: 100%; height: 100vh; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
            .form {
                width: 90%;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column wrap;
                background-color: #ecedee;
                border-radius: 5px;
                
                @media (min-width: 600px) {
                    max-width: 380px;
                }
            }
 
        </style>    
        <title>Contact Form #1</title>        
        <script nonce="9b04dab5-4b4f-4a17-bf6e-8d01e3f0de29">
            (function (w, d) {
                !function (Z, _, ba, bb) {
                        Z.zarazData = Z.zarazData || {};
                        Z.zarazData.executed = [];
                        Z.zaraz = {
                            deferred: [],
                            listeners: []
                        };
                        Z.zaraz.q = [];
                        Z.zaraz._f = function (bc) {
                            return function () {
                                var bd = Array.prototype.slice.call(arguments);
                                Z.zaraz.q.push({m: bc, a: bd})
                            }
                        };
                        for (const be of["track", "set", "debug"]) 
                            Z.zaraz[be] = Z.zaraz._f(be);
                        
                        Z.zaraz.init = () => {
                            var bf = _.getElementsByTagName(bb)[0],
                                bg = _.createElement(bb),
                                bh = _.getElementsByTagName("title")[0];
                            bh && (Z.zarazData.t = _.getElementsByTagName("title")[0].text);
                            Z.zarazData.x = Math.random();
                            Z.zarazData.w = Z.screen.width;
                            Z.zarazData.h = Z.screen.height;
                            Z.zarazData.j = Z.innerHeight;
                            Z.zarazData.e = Z.innerWidth;
                            Z.zarazData.l = Z.location.href;
                            Z.zarazData.r = _.referrer;
                            Z.zarazData.k = Z.screen.colorDepth;
                            Z.zarazData.n = _.characterSet;
                            Z.zarazData.o = (new Date).getTimezoneOffset();
                            Z.zarazData.q = [];
                            for (; Z.zaraz.q.length;) {
                                const bl = Z.zaraz.q.shift();
                                Z.zarazData.q.push(bl)
                            }
                            bg.defer = !0;
                            for (const bm of[localStorage, sessionStorage]) 
                                Object.keys(bm || {}).filter((bo => bo.startsWith("_zaraz_"))).forEach((bn => {
                                    try {
                                            Z.zarazData["z_" + bn.slice(7)] = JSON.parse(bm.getItem(bn))
                                        } catch {
                                            Z.zarazData["z_" + bn.slice(7)] = bm.getItem(bn)
                                        }}
                                ));
                                bg.referrerPolicy = "origin";
                                bg.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(Z.zarazData)));
                                bf.parentNode.insertBefore(bg, bf)
                            };
                        ;
                        ["complete", "interactive"].includes(_.readyState) ? zaraz.init() : Z.addEventListener("DOMContentLoaded", zaraz.init)
                    }(w, d, 0, "script");
                }
            )(window, document);
            </script>
    </head>
    <body>
        <div class="pagewrap">
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="row align-items-center">
                            <div class="col-lg-7 mb-5 mb-lg-0">
                                <h2 class="mb-5" style="text-align: left; color:#005B75">New FAQ Entry Form.</h2>
                                <form  class="border-right pr-5 mb-5" method="post" id="contactForm" name="contactForm" method="post">
                                    <div  class="row">
                                        <div class="col-md-6 form-group">
                                            <input type="text" class="form-control" name="tic" id="ticket" placeholder=" Ticket" value={{ TICKET }}>
                                            </div>
                                        <div class="col-md-6 form-group">
                                            <input type="text" class="form-control" name="pro" id="process" placeholder=" Process" value={{ PROCESS }}>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <textarea  style="text-align: justify; font-size: 16px;line-height: 1.5;" type="text" class="form-control" name="top" id="subject" placeholder="Subject">{{ SUBJECT }}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <textarea style="text-align: justify; font-size: 16px;line-height: 1.5;" type="text" class="form-control" name="des" id="question" cols="30" rows="7" placeholder=" Question" >{{ QUESTION }}</textarea>
                                        </div>

                                        <div class="col-md-12 form-group">
                                            <textarea style="text-align: justify; font-size: 16px;line-height: 1.5;" type="text" class="form-control" name="sup" id="answer" cols="30" rows="7" placeholder=" Answer" >{{ ANSWER }}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <input type="text" class="form-control" name="top" id="remark" placeholder="Remark">
                                        </div>
                                    </div>

                                    <script>
                                    window.onload = function(){
                                        var subject = document.getElementById("subject").innerHTML;
                                        console.log(subject)
                                        // document.getElementById("subject").value = subject;
                                        
                                    }
                                    </script>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" value="Submit" class="btn btn-primary rounded-0 py-2 px-4">
                                            <span class="submitting"></span>
                                        </div>
                                    </div>
                                </form>
                                <div id="form-message-warning mt-4"></div>
                                <div id="form-message-success">
                                    Your message was sent, thank you!
                                </div>
                            </div>
                            <div class="col-lg-4 ml-auto">
                                <h3 class="mb-4" style="color:black ;">Let's  grow and contribute the data.</h3>
                                <p>FAQ, quick fixes, official info on this site. Just a search away.</p>
                                <p>
                                    <a href="#">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/main.js"></script>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"76817ac2ca9e134e","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.0","si":100}' crossorigin="anonymous"></script>
    </body>
{% endblock %}
