{% extends "base.html" %}
{% block content %}

<div class="tm-parallax" data-parallax="scroll"></div>                   
<section id="control" class="tm-section">
    <h2 class="tm-text-primary">Gate Control</h2>
    <hr class="mb-5">

    <div class="row tm-row-home">                            
        <div class="tm-col-home tm-col-home-l">
            <div class="media mb-4">
                <form method="post">
                <!--<form action="http://192.168.195.154:80/api" method="POST">-->
                <a class="button"> <button style="border-radius: 15px" class="fas fa-door-open fa-4x tm-post-icon tm-text-primary" name="open" value="OPEN" ></button></a>
                </form>
                <div class="media-body">
                    <a style="font-size:20px"; class="d-block mb-2 tm-text-primary tm-post-link"><b>Open Gate</b></a>   
                    <p>
                        Click this button to open the Church Gate. Please wait for a while until
                        the gate open completely.
                    </p>
                </div>                                    
            </div>

            <div class="media mb-4">
                <form method="post">
                <!--<form action="http://192.168.195.154:80/api" method="POST">-->
                <a class="button"><button style="border-radius:15px" class="fas fa-pause-circle fa-4x tm-post-icon tm-text-primary" name="pause" value="PAUSE"></button></a>
                </form>
                <div class="media-body">
                    <a style="font-size:20px"; class="d-block mb-2 tm-text-primary tm-post-link"><b>Stop Gate</b></a>  
                    <p>
                        Click this button to stop the gate from moving. This function is useful when you want
                        to stop the gate either close or open halfway.
                    </p>
                </div>                                    
            </div>

            <div class="media mb-4">
                <form method="post">
                <!--<form action="http://192.168.195.154:80/api" method="POST">--> 
                <a class="button"> <button style="border-radius:15px" class="fas fa-door-closed fa-4x tm-post-icon tm-text-primary" name="close" value="CLOSE"></button></a>
                </form>
                <div class="media-body">
                    <a style="font-size:20px"; class="d-block mb-2 tm-text-primary tm-post-link"><b>Close Gate</b></a>  
                    <p>
                        Click this button to close the Church gate. Please wait for a while until
                        the gate close completely.
                    </p>
                </div>                                    
            </div>
            
        </div>
        <div class="tm-col-home mr-0 ml-auto">
            <div class="tm-img-home-container"></div>                                
        </div>
    </div>
</section>
 
{% endblock %}
